.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.sign{
  text-decoration-line:none;
  padding: 30px;
}
.btn1{
  width:100px;
  height: 40px;
  border-radius: 28px;
  color:whitesmoke;
  background: orangered;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top:30px;
}
.btn1:hover{
  background: transparent;
  color: orangered;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
